@media (max-width: 1000px) {
    .overarching-container {
        left: 30%;
    }
}

@media (max-width: 900px) {
    .overarching-container {
        left: 27%;
    }
}

@media (max-width: 820px) {
    .simulating-border-container {
        clip-path: polygon(82% 0, 100% 0, 100% 100%, 0 100%, 0 8%, 54% 8%);
        width: 391px;
        height: 1051px;
        border-bottom-left-radius: 46px;
    }

    .overarching-container {
        position: unset;
        transform: translate(-0%, -0%);
        border: 1px solid black;
    }

    .hinge {
        display: none;
    }

    .encompassing-container {
        flex-direction: column;
        height: 1050px;
        width: 390px;
        border: 1px solid black;
        border-top-right-radius: 0;
        clip-path: polygon(82% 0, 100% 0, 100% 100%, 0 100%, 0 8%, 54% 8%);
    }

    .right-page {
        margin-left: 0;
        margin-right: 0;
        margin-top: 17px;
        width: 389px;
        height: 597px;
        border-top: 1px solid black;
    }

    #infoCard {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: auto;
    }

    #infoCard::-webkit-scrollbar {
        width: 0;
    }

    .green-display {
        margin-top: 100px;
    }
    .display-and-buttons {
        margin-left: 46px;
        align-items: flex-start;
    }
}

@media (max-width: 420px) {
    .encompassing-container {
        width: 290px;
    }
    .simulating-border-container {
        width: 291px;
    }
    .overarching-container {
        width: 290px;
    }
    .left-page {
        margin-left: 2px;
    }
    .image-plus-decoration {
        width: 280px;
    }
    .display-and-buttons {
        margin-left: 4px;
    }
}